.outerBox {
  background-color: #ffffff;
  width: 38vw;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  overflow-y: block;
  background-color: #ffffff;
  flex-shrink: 1.2;
  margin: 5px;
  box-sizing: none;

}
.leftSide {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 10px;
  overflow: hidden;
  justify-content:flex-start;
  align-items: center;
}
.rightSide {
  width: 50%;
  display: flex;
  margin: 2%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.account {
  background-color: #00474b;
  border-radius: 18px;
  width:  25rem;
  height: 90%;
  margin: 0.5rem;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  gap: 0.3rem;

}
.accountComponent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.accountComponent span {
    color: #c4eaeb;
}

.price{
    display: flex;
    justify-content:space-evenly;
    -webkit-text-fill-color: #20c3ae;
    font-size: large;
}
.reset{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 11px;
  margin: 0 auto;
}
.reset button{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    height: 2em;
    width: 8.6rem;
    background-color: #26c2ad;
    border:1px;
    border-radius: 10px;
  
      
}
@media(max-width:980px){
  .outerBox{
    flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
  width: fit-content;
  flex-wrap: wrap;

  }
 .leftSide {
flex-direction: column;
width: fit-content;
flex-wrap: wrap;
}
.account{
  width: fit-content;
  border-radius: 13px;
}

.rightSide{
  width: fit-content;
}
.reset{
  width: fit-content;
  flex-wrap: wrap;
  margin: 8px;

}


}



  

